<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
      {% if breed %}    <!-- When the value of the breed is set. -->
        The breed of the pup is {{breed}}.
        <br>
        Update it in the form below.
      {% else %}      <!-- Initial value of breed=False in the home().  -->
        Please enter the breed of pup:
      {% endif %}
    </p>
    <form method="POST">  <!-- 'POST'/post' both are valid. -->
      {{ form.hidden_tag() }}   <!-- csrf security -->
      {{ form.pup_breed.label() }} {{ form.pup_breed() }}
      {{ form.submit() }}
    </form>
</body>
</html>
