<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ msg }}
    </div>
     {% endfor %}
    <h1>Here is the list of all available Puppies</h1>
    <ul>
        {% for pup in puppies %}
        <li>{{pup}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}